# development | production
NODE_ENV=development
PORT=2000

DATABASE_URL=
DIRECT_URL=

CORS_ORIGIN=

ADMIN_USERNAME=
ADMIN_PASSWORD = 

ACCESS_PUBLIC_KEY_GLIB=
ACCESS_PRIVATE_KEY_GLIB=

REFRESH_PUBLIC_KEY_GLIB=
REFRESH_PRIVATE_KEY_GLIB=
