# development | production
NODE_ENV=development
PORT=2000

DATABASE_URL=
DIRECT_URL=

CORS_ORIGIN=http://localhost,http://localhost:5173,http://localhost:5174,http://localhost:4102,http://localhost:4103,http://cdcteknoloji.com.tr,https://cdcteknoloji.com.tr,http://www.cdcteknoloji.com.tr,https://www.cdcteknoloji.com.tr,http://cdcteknoloji.com.tr:4102,http://cdcteknoloji.com.tr:4103,https://cdcteknoloji.com.tr:4102,https://cdcteknoloji.com.tr:4103,http://www.cdcteknoloji.com.tr:4102,http://www.cdcteknoloji.com.tr:4103,https://www.cdcteknoloji.com.tr:4102,https://www.cdcteknoloji.com.tr:4103,http://213.238.168.170:4102,http://213.238.168.170:4103

ADMIN_USERNAME=
ADMIN_PASSWORD = 

ACCESS_PUBLIC_KEY_GLIB=
ACCESS_PRIVATE_KEY_GLIB=

REFRESH_PUBLIC_KEY_GLIB=
REFRESH_PRIVATE_KEY_GLIB=
